<!DOCTYPE html>
<html>

  <head>
    <title>Snowed-In: Encrypted Chat Channels</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <%= render partial: 'shared/navigation_bar' %>

  <body>
    <div class= "body" >
      <%= yield %>
    </div>
  </body>

  <%= render partial: 'shared/footer' %>

</html>
